{% extends 'base.html.twig' %}

{% block title %}Log in!
{% endblock %}

{% block body %}

	<div class="container p-4">

		<h4>Se connecter<h4>
				{% if error %}
					<div class="alert alert-danger mt-4" role="alert">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
				{% endif %}
				<form action="{{path('app_login')}}" method='post'>
					<div class="mb-3">
						<label for="username" class="form-label">L'identifiant</label>
						<input type="text" class="form-control" id="username" name="_username" autocomplete="username" required autofocus value="{{ last_username }}" placeholder="Votre nom d'utilisateur">
					</div>
					<div class="mb-3">
						<label for="password">Mot de passe</label>
						<input type="password" name="_password" id="password" class="form-control" autocomplete="current-password" required placeholder="Avec au moin 8 caractères">
					</div>

					<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
					<button class="btn btn-lg btn-secondary" type="submit">
						Se connecter</button>
				</form>
			</div>


			{# <div class="example-wrapper">
															<h1>Se connecter ✅</h1>
																																							
															{% if error %}
															<p class="text-danger">{{error.messageKey}}</p>
																																							
																																							
															{% endif %}
															<form action="{{path('app_login')}}" method='post'>
																<input type='text' name='_username' value="{{last_username}}" placeholder="Votre nom d'utilisateur">
															<input type='password' name='_password' placeholder="Mot de passe">
															<button type='submit' class="btn btn-primary">Connexion</button>
															</form>
																																							
																																								</div> #}
		{% endblock %}
