<div class="container">
	<footer class="py-4">
		<div class="row border-top pt-3">
			<div class="col-6 col-md-2 mb-3">
				<h5>Blog</h5>
				<ul class="nav flex-column">
					<li class="nav-item mb-2">
						<a href="{{path('app_home')}}" class="nav-link p-0 text-muted">Home</a>
					</li>
					<li class="nav-item mb-2">
						<a href="#" class="nav-link p-0 text-muted">Our History</a>
					</li>
					<li class="nav-item mb-2">
						<a href="#" class="nav-link p-0 text-muted">Association of the month</a>
					</li>
					<li class="nav-item mb-2">
						<a href="#" class="nav-link p-0 text-muted">Sitemap</a>
					</li>


				</ul>
			</div>

			<div class="col-6 col-md-2 mb-3">
				<h5>E-Shop</h5>
				<ul class="nav flex-column">
					<li class="nav-item mb-2">
						<a href="{{path('app_shop')}}" class="nav-link p-0 text-muted">Home Shop</a>
					</li>
					<li class="nav-item mb-2">
						<a href="#" class="nav-link p-0 text-muted">About</a>
					</li>
					<li class="nav-item mb-2">
						<a href="#" class="nav-link p-0 text-muted">Our preferences</a>
					</li>
					<li class="nav-item mb-2">
						<a href="#" class="nav-link p-0 text-muted">Faqs</a>
					</li>
				</ul>
			</div>

			<div class="col-6 col-md-2 mb-3">
				<h5>More on Mobile!
				</h5>
				<ul class="nav flex-column">
					<li class="nav-item mb-2">
						<a href="#" class="nav-link p-0 text-muted">Mobile appli (SOON)</a>
					</li>
					<li class="nav-item mb-2">
						<a href="#" class="nav-link p-0 text-muted">Contact us</a>
					</li>
					<li class="nav-item mb-2">
						<a href="#" class="nav-link p-0 text-muted">Events</a>
					</li>
					<li class="nav-item mb-2">
						<a href="#" class="nav-link p-0 text-muted">Press</a>
					</li>
				</ul>
			</div>

			<div class="col-md-5 offset-md-1 mb-3">
				<form>
					<h5>Subscribe to the newsletter</h5>
					<p>To be first on news and events</p>
					<div class="d-flex flex-column flex-sm-row w-100 gap-2">
						<label for="newsletter1" class="visually-hidden">Email</label>
						<input id="newsletter1" type="text" class="form-control" placeholder="Email address">
						<button class="btn btn-secondary" type="button">Subscribe</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top footer-bg-image">
		<span class="ms-3 copyright">©{{"now"|date("Y")}}
			Coffe with Wabi Sabi Company, Inc. All rights reserved</span>
		<ul class="list-unstyled d-flex me-3">
			<li class="ms-3">
				<a class="link-dark" href="#">
					<img src={{asset('media/rs/instagram.png')}} alt="instagram" width="26" height="26" role="instagram">
						<use xlink:href="#instagram"></use>
					</img>
				</li>
			</a>
		</li>
		<li class="ms-3">
			<a class="link-dark" href="#">
				<img src={{asset('media/rs/twitter-x-logo.png')}} alt="X-twitter" width="24" height="24" role="twitter">
					<use xlink:href="twitter"></use>
				</img>
			</li>
		</a>
	</li>
	<li class="ms-3">
		<a class="link-dark" href="#">
			<img src={{asset('media/rs/facebook.png')}} alt="facebook" width="26" height="26" role="facebook">
				<use xlink:href="#facebook"></use>
			</img>
		</li>
	</a>
</li></ul></div></footer>
