{% set product_show = path('product_show', {'slug' : product.slug}) %}

<product class="mb-5">
  <div class="row">
    {# <div class="col-md-5">
    {% if product.getImage()|length > 0 %}
      <a href = "{{product_show}}">
        {% for image in product.getImage() %}
          <img src="/upload/images/products/{{product.getId}}/{{image.getName}}" class ="lazy" alt="{{ product.name }}">
        {% endfor %}
      </a>
    {% endif %}
    </div>
    <div class="col-md-7">
      <h2>
        <a class="text-decoration-none" href="{{ product_show}}">{{ product.name}}</a>
      </h2>

      {{ product.featuredText ?: product.description|striptags|slice(0, 130 ) ~'...'}}
    </div> #}
    <div class="col-4 mt-3">
        <div class="card" style="width: 18rem;">
            <div class="card-body ">
                {% if product.getImage()|length > 0 %}
                    {% for image in product.getImage() %}
                        <img src="/upload/images/products/{{product.getId}}/{{image.getName}}" class ="card-img-top" alt="{{ product.name }}">
                    {% endfor %}
                    {% else %}
                        <p>Aucune image disponible</p>
                {% endif %} 
                        <h5 class="card-title">{{product.name}}</h5>
                        <h6 class="card-subtitle mb-2 text-body-secondary">Prix : {{product.price}}€</h6>
                        {{ product.featuredText ?: product.description|striptags|slice(0, 130 ) ~'...'}}
                    
                    <div class= 'd-flex justify-content-between'>
                    <a href = "{{product_show}}" class="btn btn-outline-secondary">
                    Afficher produit</a>
                    <a href="#" class="btn btn-sm btn-light"><img src={{asset('media/nav/panier.png')}} alt="ajout_panier" style="vertical-align: middle;" width="30" height="30"></a>
                    </div>                   
            </div>
        </div>
    </div>
  </div>
</product>
