<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="keywords" content="coffee, wabi sabi, fashion, upcycling, food, coffee shop">


		<title>Coffee with Wabi Sabi
			{% block title %}CwWS
			{% endblock %}
		</title>
		<link rel="icon" href={{asset('media/nav/premier_logo_gras_CwWS.png')}}>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
		<link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
	</head>

	<body>
		{% include 'widgets/_navAccueil.html.twig' %}


		{% block image %}

			{# 
																																																															<div class="custom-image-container homepage-image">
																																																																<img class="custom-image custom-image-full" src={{asset('media/hp/cracked-mur.jpg')}} alt="wall-craked">
																																																																<div class="card-img-overlay d-flex align-items-center">
																																																																	<div class="card custom-card bg-transparent text-white p-4">
																																																												
																																																																		<h1 class="card-title">COFFEE
																																																																			{# {{app.user.username|capitalize}}</h1> #}
			{# <h3 class="card-text">with Wabi Sabi</h3>
																																																																			<div class='d-flex justify-content-center'>
																																																																				<a class="btn btn-light" href="{{path('app_products')}}" role="button">News</a>
																																																																			</div>
																																																																		</div>
																																																																	</div>
																																																																</div> #}

				<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel"> <div class="carousel-inner">
					<div class="carousel-item active">
						<img src={{asset('media/hp/cracked-mur.jpg')}} class="d-block w-100" alt="autumn">
						<div class="card-img-overlay d-flex align-items-center">
							<div class="card custom-card bg-transparent text-white p-4">
								<h1 class="card-tittle">COFFEE
									<br>with
									<br>
									Wabi Sabi<h1>
										<div class='d-flex justify-content-center'>
											<a class="btn btn-light" href="{{path('app_products')}}" role="button">News</a>
										</div>
									</div>
								</div>
							</div>
							<div class="carousel-item">
								<img src={{asset('media/hp/autumnal.jpg')}} class="d-block w-100" alt="maple">
							</div>
							<div class="carousel-item">
								<img src={{asset('media/hp/plants_street.jpg')}} class="d-block w-100" alt="japan home">
							</div>

							<div class="carousel-item">
								<img src={{asset('media/hp/cozy-amsterdam.jpg')}} class="d-block w-100" alt="wood">
							</div>
						</div>
						<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
							<span class="carousel-control-prev-icon" aria-hidden="true"></span>
							<span class="visually-hidden">Previous</span>
						</button>
						<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
							<span class="carousel-control-next-icon" aria-hidden="true"></span>
							<span class="visually-hidden">Next</span>
						</button>
					</div>

				{% endblock %}

				<div class="container">
					{% block container %}

						contenu par defaut
					{% endblock %}
				</div>
				{% include 'widgets/_bigLogoTitle.html.twig' %}
				{% include 'widgets/_weather.html.twig' %}
				{% include 'widgets/_feature.html.twig' %}
				{% include 'widgets/_footer.html.twig' %}
				<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
				<script src="{{ asset('assets/js/style.js') }}"></script>
			</body>
		</html>
	</body>
</html>
